.card{ 
    width:90%;
    margin-right: 50px;
    display: block;
    text-align: center; 
}
.image{
    width:400px;
    height: 400px;
    display: flex;
    margin: auto;
    
}
.dots{
    display: block;

    
}
/* .name, .location{
    display: block;
    float:right;
} */
.heart ,.plane{
    margin: 0 px;

}
.likes{
    display: block;
    
}
.data{
    margin-right: 0px;
}
.descriptions{
    width:90%;
    margin:50px;
}
